<%-include("./parcials/header.ejs") %>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top 0">
    <div class="container ">
      <a class="navbar-brand" href="#!">Techno_infoSys</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
          class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav   
                    ms-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/about">About_us</a></li>
          <li class="nav-item"><a class="nav-link" href="/contact">Contact_us</a></li>
          <% if (user) { %>
            <li class="nav-item"><a class="nav-link" href="/profile">
                <i class="fa-solid fa-user"></i>
                <%= user.name %>
              </a></li>
            <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
            <% } else { %>
              <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
              <% } %>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container text-center align-items-center">
    <h1>About Us</h1>
    <hr>
    <p class="mb-4">Welcome to Tech_InfoSys, your go-to destination for all things technology. We are passionate
      about providing the latest news, insights, and reviews on a wide range of tech topics. Our mission is to
      empower our readers with knowledge and help them navigate the ever-evolving world of technology.</p>
    <p class="mb-4">At Tech_InfoSys, we cover a diverse range of topics including gadgets, software, artificial
      intelligence, cybersecurity, and much more. Our team of experienced writers and tech enthusiasts are
      dedicated to delivering high-quality content that is both informative and engaging.</p>
    <p class="mb-4">Whether you're a tech novice looking to learn more or a seasoned professional seeking in-depth
      analysis, Tech_InfoSys has something for everyone. We strive to create a community where technology
      enthusiasts can come together to share ideas, ask questions, and stay up-to-date with the latest trends in
      the tech industry.</p>
    <p class="mb-4">Thank you for visiting Tech_InfoSys. We hope you find our content valuable and enjoyable. If you
      have any questions or suggestions, please feel free to reach out to us. Happy reading!</p>
  </div>

  <div class="container-fluid my-5 px-lg-4" id="runpost">
    <div class="row mx-lg-4">

      <!-- Posts Section -->
      <div class="col-12 col-lg-8 px-lg-4 ">
        <div class="row">
          <% if(newPost.length> 0)
            for(let i = (newPost.length - 1); i >= 0; i--) { %>

            <!-- Post -->
            <div class="col-12 col-md-6 mb-4 ">
              <div class="card h-100 ">
                <img src="<%= newPost[i].image %>" class="card-img-top img-fluid" alt="Post Image"
                  style="height: 250px; object-fit: cover;">
                <div class="card-body">
                  <h5>
                    <%= newPost[i].title.substring(0, 70) %>
                  </h5>
                  <p>
                    <%= newPost[i].content.substring(0, 90) %>...
                      <a href="/post/<%= newPost[i]._id %>" class="btn btn-link">Read More</a>
                  </p>
                </div>
              </div>
            </div>


            <!-- Ads after every 4 posts -->
            <% if ((i + 1) % 4===0) { %>
              <div class="col-12 mb-4">
                <div class="bg-light text-center p-4">
                  <strong>Ads Banner</strong>
                </div>
              </div>
              <% } %>


                <% } else { %>
                  <div class="col-12">
                    <p class="text-center">No posts available.</p>
                  </div>
                  <% } %>


        </div>
      </div>

      <!-- Sidebar -->
      <div class="col-12 col-lg-4">
        <div class="sticky-top" style="top: 60px;">
          <div class="bg-light p-3 mb-3">Sidebar</div>
        </div>
      </div>

    </div>
  </div>